*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.form{
width: 100vw;
height: 100vh;
display: flex;
row-gap: 150px;
justify-content: center;
align-items:center;
flex-direction: column;
}
.form>h{
  font-weight: 45px;
}
.form-container{
  padding: 15px;
  height: 200px;
  width: 350px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  margin: 145px;
  border: 3px solid green;
  border-radius: 25px;
  margin-top: 0;
}

.form-container>input,button{
  border-radius: 5px;
} 
.form-container>button{
  width: 40px;
 
  position: relative;
  left:130px;
}
input
{
  background-color:burlywood;
  color:black
}

.title-head
{
    text-align: center;
    color: black;
}


/* //----------Profile page------------ */


#profile-container{
  display: flex;
  /* height: 100vh; */
  
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
#profile-container .fields
{
  background-color: burlywood;
  color: black;
}
.holder-details
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fields
{
  display: inline-block;
  padding: 10px;
  background-color: beige;
  width:850px;
  /* padding: 5px; */
  /* height:10px; */
  /* width:10px; */
}

.keys
{
  display:inline;
  width:100px;
  background-color:cadetblue
}

.values
{
  display:inline;
  width:600px;
  background-color:blueviolet
}
